.vis-timeline {
    margin-bottom: 2.5rem;
    visibility: hidden;
}

.vis-item {
    border: solid black 2px;
}

.vis-item-overflow {
    background-color: white;
}

.vis-item::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    right: -6px;
    bottom: -6px;
    z-index: -10;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --base: #E8F1F2;
    --muted: #000000;
    --inverted: #000000;
    --quaternary: #B3EFB2;
    --tertiary: #7A9E7E;
    --accent: #EE6352;
}
.theme-1 {
    --base: #E8F1F2;
    --muted: #000000;
    --inverted: #000000;
    --quaternary: #EF767A;
    --tertiary: #6457A6;
    --accent: #23F0C7;
}
/* --base: #E8F1F2;
--muted: #7D7ABC;
--inverted: #FFE347;
--quaternary: #EF767A;
--tertiary: #6457A6;
--accent: #23F0C7; */

